@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --yellow: #acf523;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.heading {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
}
/*@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}

@mixin iconsBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover {
        background: var(--black);
        color: var(--white);
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
&::-webkit-scrollbar {
        width: 1rem;
    }

-track {
        background: transparent;
    }

&::-webkit-scrollbar-thumb {
        background: var(--yellow);
    }


.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}
    .logo{
        @include titleText(10px);

    }

    span {
            color: var(--yellow);
        }
   

    .navbar a {
        @include titleText(5rem);
        margin: 0 1rem;
    }
    &:hover {
            color: var(--yellow);
 }

 .navbar a {
     @include titleText(2rem);
     margin: 0 1rem;

     &:hover {
         color: var(--yellow);
     }
 }

 .icons div {
     @include iconsBox();
     margin-left: .3rem;
 }

 #menu-btn {
     display: none;
 }

 .icons div {
     @include iconsBox();
     margin-left: .3rem;
 }

 #menu-btn {
     display: none;
 }

 #menu-btn {
     display: none;
 }

 .header {
     padding: 1.5rem 2rem;
 }

 @media (max-width:991px) {

     html {
         font-size: 16px;
     }

@media (max-width:450px) {
    
     html {
        font-size: 50%;
    }
}






























 /*media queries
    